body {
    background-color: #eee;
}

.wrapper {
    width: 80%;
    padding: 15px 5px;
    margin: 0 auto;
    background-color: white;
}

.header--container {
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    padding: 30px;
    color: white;
    height: 200px;
}

.sortButton, .filterButton {
    border: 1px solid #ced4da;
    width: 100%;
}

.searchResults {
}

.userList--table {
    word-break: break-word;
}
